:host {
  padding: 8px 16px;
  display: block;
}

.env {
  display: flex;
  flex-direction: row;
  max-width: 100%;

  ion-icon {
    margin-right: 4px;
    flex-shrink: 0;
    padding-top: 4px;
  }

  div {
    max-width: 100%;
  }

  span {
    overflow-wrap: break-word;
    max-width: calc(100% - 24px);
  }
}

.link {
  color: #11769d;
}

.grammar {
  color: #464646;
  font-size: 90%;
}
