<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{ "MENU.SEARCH" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon name="star"></ion-icon>
      <ion-label>{{ "MENU.FAVOURITES" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ "MENU.SETTINGS" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
