.main-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 52px;
  align-items: center;
  justify-content: center;

  img {
    max-width: 500px;
  }
}
