<ion-content>
  <div class="main-content">
    <div></div>
    <ion-text class="headers texts">
      <h1>
        Bainvegni!<br>
        Willkommen!
      </h1>
    </ion-text>

    <div class="texts">
      <p style="flex-grow: 1;">
        En tge lingua duai l'interfatscha da l'app vegnir mussada?
        <br>
        <br>
        In welcher Sprache soll die Benutzeroberfläche der App angezeigt werden?
      </p>
    </div>

    <div class="texts">
      <span>
        <ion-button expand="block" (click)="selectLanguage('rm')">Rumantsch</ion-button>
        <ion-button expand="block" (click)="selectLanguage('de')">Deutsch</ion-button>
      </span>
    </div>

    <div class="texts">
      <p>
        La lingua da l'app po adina puspè vegnir midada en ils parameters.
        <br>
        <br>
        Die App-Sprache kann jederzeit in den Einstellungen geändert werden.
      </p>
    </div>
    <div></div>
  </div>
</ion-content>
