.main-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;

  * {
    flex-grow: 1;
  }
}

.headers {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
}

.texts {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
}

ion-button {
  margin-bottom: 16px;
  max-width: 250px;
  margin: 16px auto;
}
