h1 {
  margin-left: 22px;
}

.conj-grid {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: 1fr;
}

.conj-full {
  grid-column: 1 / -1;
}

.verb-annotation {
  text-align: center;
  padding: 12px;
  margin-top: 24px;
}

@media only screen and (min-width: 768px) {
  .conj-grid {
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }
}
