<ion-content>
  <ion-item class="title">
    <ion-title>{{ 'SETTINGS.MODE.TITLE' | translate }}</ion-title>
  </ion-item>

  <ion-list>
    <ion-radio-group [(ngModel)]="selectedSearchMode">
      <ion-item lines="none" (click)="onChange('start')">
        <ion-label>{{ "SETTINGS.MODE.START" | translate}}</ion-label>
        <ion-radio value="start" [slot]="slot"></ion-radio>
      </ion-item>

      <ion-item lines="none" (click)="onChange('match')">
        <ion-label>{{ "SETTINGS.MODE.MATCH" | translate }}</ion-label>
        <ion-radio value="match" [slot]="slot"></ion-radio>
      </ion-item>

      <ion-item lines="none" (click)="onChange('substring')">
        <ion-label>{{ "SETTINGS.MODE.SUBSTRING" | translate }}</ion-label>
        <ion-radio value="substring" [slot]="slot"></ion-radio>
      </ion-item>

      <ion-item lines="none" (click)="onChange('end')">
        <ion-label>{{ "SETTINGS.MODE.END" | translate}}</ion-label>
        <ion-radio value="end" [slot]="slot"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
