.main-content {
  margin: 16px;
}
h2 {
  font-size: 18px;
  margin-top: 32px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 18px;

  li:before { 
    content: "–" " ";
    margin-left: -16px;
    margin-right: 4px;
  }
}