<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PAGES.INFO.TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="'PAGES.BACK' | translate">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content" *ngIf="selectedLocale === 'de'">
    <p>
      Version: {{ appVersion }}
    </p>
    <p>
      «Dicziunari Rumantsch» wurde von <a href="https://www.far.ch" target="_blank">far GmbH</a> (Programmierung) und <a
        href="https://www.davidbuehler.ch" target="_blank">David Bühler – Visuelle Gestaltung</a> (Design) erstellt.
    </p>
    <p>
      Programmierung und Konzept: Gion-Andri Cantieni<br>
      UI/Grafik und Konzept: David Bühler<br>
      Projektleitung und Konzept: Martin Cantieni
    </p>
    <p>
      Die Entwicklung dieser App wurde ermöglicht durch die finanzielle Unterstützung von:
    </p>
    <ul>
      <li>Bundesamt für Kultur / Sprachenförderung Kanton Graubünden</li>
      <li>Lia Rumantscha</li>
      <li>Uniun Rumantscha Grischun Central</li>
      <li>Giuventetgna Rumantscha GiuRu</li>
      <li>Surselva Romontscha</li>
      <li>Uniun da las Rumantschas e dals Rumantschs en la Bassa</li>
      <li>Biblioteca Engiadinaisa</li>
      <li>Fundaziun Anton Cadonau pil romontsch en Sur- e Sutselva</li>
      <li>Fundaziun Patrimoni Cultural RTR</li>
      <li>Graubündner Kantonalbank</li>
      <li>Willi Muntwyler-Stiftung</li>
      <li>Stiftung Jacques Bischofberger</li>
      <li>Quarta Lingua</li>
      <li>Pro Laax</li>
      <li>Pro Sagogn</li>
    </ul>

    <h2>Quellcode und rechtliche Hinweise</h2>
    <p>
      Der Quellcode der App «Dicziunari Rumantsch» steht auf <a href="https://github.com/farscrl/dicziunari"
        target="_blank">GitHub</a> als freie Software unter der MIT-Lizenz zur Verfügung.
    </p>
    <p>
      Für die Wörterbücher gilt folgendes:<br><br>

      Rumantsch Grischun, Version 9.1.2023<br>
      © Lia Rumantscha / pledarigrond.ch / CC BY 4.0<br>
      Redaktion: Daniel Telli und Anna-Alice Dazzi Gross, sowie Marietta Cathomas Manetsch, Gabriela Holderegger Pajarola, Angela Schmed Bass, Georges Darms, Manfred Gross, Marina Wyss, Annetta Janka-Zini<br><br>

      Sursilvan, Version 2008<br>
      © Lia Rumantscha / vocabularisursilvan.ch<br>
      Redaktion: Alexi Decurtins<br>
      Konjugation der Verben, Version 2022: <a href="http://www.liarumantscha.ch/#type-misc=nd_id1634" target="_blank">A. Polage, E. Brühlmann und Lia Rumantscha</a><br><br>

      Sutsilvan, Version 9.1.2023<br>
      © Lia Rumantscha / pledarigrond.ch<br>
      Redaktion: Johann Clopath, Wolfgang Eichenhofer<br><br>

      Surmiran, Version 9.1.2023<br>
      © Lia Rumantscha / pledarigrond.ch<br>
      Redaktion: Reto Capeder, Faust Signorell<br><br>

      Vallader und Puter, Version 2011<br>
      © 2021 Lehrmittel Graubünden<br>
      Redaktion: Gion Tscharner<br><br>
    </p>
  </div>

  <div class="main-content" *ngIf="selectedLocale === 'rm'">
    <p>
      Versiun: {{ appVersion }}
    </p>
    <p>
      «Dicziunari Rumantsch» è vegnì creà da <a href="https://www.far.ch" target="_blank">far ScRL</a> (programmaziun) e
      <a href="https://www.davidbuehler.ch" target="_blank">David Bühler – Visuelle Gestaltung</a> (design).
    </p>
    <p>
      Programmaziun e concept: Gion-Andri Cantieni<br>
      UI/grafica e concept: David Bühler<br>
      Manader dal project e concept: Martin Cantieni
    </p>
    <p>
      Il svilup da questa app è stà pussaivel grazia al sustegn finanzial da:
    </p>
    <ul>
      <li>Uffizi federal da cultura / Promoziun da linguas dal chantun Grischun</li>
      <li>Lia Rumantscha</li>
      <li>Uniun Rumantscha Grischun Central</li>
      <li>Giuventetgna Rumantscha GiuRu</li>
      <li>Surselva Romontscha</li>
      <li>Uniun da las Rumantschas e dals Rumantschs en la Bassa</li>
      <li>Banca Chantunala Grischuna</li>
      <li>Biblioteca Engiadinaisa</li>
      <li>Fundaziun Anton Cadonau pil romontsch en Sur- e Sutselva</li>
      <li>Fundaziun Jacques Bischofberger</li>
      <li>Fundaziun Patrimoni Cultural RTR</li>
      <li>Fundaziun Willi Muntwyler</li>
      <li>Quarta Lingua</li>
      <li>Pro Laax</li>
      <li>Pro Sagogn</li>
    </ul>

    <h2>Code da funtauna ed indicaziuns giuridicas</h2>
    <p>
      Il code da funtauna da l’app «Dicziunari Rumantsch» stat a disposiziun sco software libra tenor la licenza MIT sin <a
        href="https://github.com/farscrl/dicziunari" target="_blank">GitHub</a>.
    </p>
    <p>
      Per ils dicziunaris vala il suandant:<br><br>

      Rumantsch Grischun, versiun 9-1-2023<br>
      © Lia Rumantscha / pledarigrond.ch / CC BY 4.0<br>
      Redacziun: Daniel Telli ed Anna-Alice Dazzi Gross, sco era Marietta Cathomas Manetsch, Gabriela Holderegger Pajarola, Angela Schmed Bass, Georges Darms, Manfred Gross, Marina Wyss, Annetta Janka-Zini<br><br>

      Sursilvan, versiun 2008<br>
      © Lia Rumantscha / vocabularisursilvan.ch<br>
      Redacziun: Alexi Decurtins<br>
      Conjugaziun dals verbs, versiun 2022: <a href="http://www.liarumantscha.ch/#type-misc=nd_id1634" target="_blank">A. Polage, E. Brühlmann e Lia Rumantscha</a><br><br>

      Sutsilvan, versiun 9-1-2023<br>
      © Lia Rumantscha / pledarigrond.ch<br>
      Redacziun: Johann Clopath, Wolfgang Eichenhofer<br><br>

      Surmiran, versiun 9-1-2023<br>
      © Lia Rumantscha / pledarigrond.ch<br>
      Redacziun: Reto Capeder, Faust Signorell<br><br>

      Vallader e Puter, versiun 2011<br>
      © 2021 Meds d'instrucziun dal Grischun<br>
      Redacziun: Gion Tscharner<br><br>
    </p>
  </div>
</ion-content>
