.main-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-evenly;
}

.search-direction-icon {
  background-color: #11769d;
  border-radius: 5px;
  max-height: 16px;
  width: 21px;
  margin-bottom: -4px;
}
