<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ "FAVOURITES.TITLE" | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "FAVOURITES.TITLE" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!isEmpty">
    <ion-item-group *ngIf="favouritesRumantschGrischun.length > 0">
      <ion-item-divider color="light" sticky>Rumantsch Grischun</ion-item-divider>
      <ng-container *ngFor="let favuorite of favouritesRumantschGrischun">
        <app-lemma-display [lemma]="favuorite" [dictionary]="'rumgrischun'" [isSaved]="true" (deleteItem)="deleteLemma($event)"></app-lemma-display>
      </ng-container>
    </ion-item-group>
    <ion-item-group *ngIf="favouritesSursilvan.length > 0">
      <ion-item-divider color="light" sticky>Sursilvan</ion-item-divider>
      <ng-container *ngFor="let favuorite of favouritesSursilvan">
        <app-lemma-display [lemma]="favuorite" [dictionary]="'sursilv'" [isSaved]="true" (deleteItem)="deleteLemma($event)"></app-lemma-display>
      </ng-container>
    </ion-item-group>
    <ion-item-group *ngIf="favouritesSutsilvan.length > 0">
      <ion-item-divider color="light" sticky>Sutsilvan</ion-item-divider>
      <ng-container *ngFor="let favuorite of favouritesSutsilvan">
        <app-lemma-display [lemma]="favuorite" [dictionary]="'sutsilv'" [isSaved]="true" (deleteItem)="deleteLemma($event)"></app-lemma-display>
      </ng-container>
    </ion-item-group>
    <ion-item-group *ngIf="favouritesSurmiran.length > 0">
      <ion-item-divider color="light" sticky>Surmiran</ion-item-divider>
      <ng-container *ngFor="let favuorite of favouritesSurmiran">
        <app-lemma-display [lemma]="favuorite" [dictionary]="'surm'" [isSaved]="true" (deleteItem)="deleteLemma($event)"></app-lemma-display>
      </ng-container>
    </ion-item-group>
    <ion-item-group *ngIf="favouritesPuter.length > 0">
      <ion-item-divider color="light" sticky>Puter</ion-item-divider>
      <ng-container *ngFor="let favuorite of favouritesPuter">
        <app-lemma-display [lemma]="favuorite" [dictionary]="'puter'" [isSaved]="true" (deleteItem)="deleteLemma($event)"></app-lemma-display>
      </ng-container>
    </ion-item-group>
    <ion-item-group *ngIf="favouritesVallader.length > 0">
      <ion-item-divider color="light" sticky>Vallader</ion-item-divider>
      <ng-container *ngFor="let favuorite of favouritesVallader">
        <app-lemma-display [lemma]="favuorite" [dictionary]="'vall'" [isSaved]="true" (deleteItem)="deleteLemma($event)"></app-lemma-display>
      </ng-container>
    </ion-item-group>
  </ion-list>

  <app-no-favourites *ngIf="isEmpty"></app-no-favourites>
</ion-content>
