<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ "FAVOURITES.TITLE" | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "FAVOURITES.TITLE" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light" sticky>Rumantsch Grischun</ion-item-divider>
      <ng-container *ngFor="let favuorite of favourites">
        <app-favourite-item [lemmaD]="favuorite.DStichwort" [lemmaR]="favuorite.RStichwort"></app-favourite-item>
      </ng-container>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light" sticky>Sursilvan</ion-item-divider>
      <ng-container *ngFor="let favuorite of favourites">
        <app-favourite-item [lemmaD]="favuorite.DStichwort" [lemmaR]="favuorite.RStichwort"></app-favourite-item>
      </ng-container>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light" sticky>Sutsilvan</ion-item-divider>
      <ng-container *ngFor="let favuorite of favourites">
        <app-favourite-item [lemmaD]="favuorite.DStichwort" [lemmaR]="favuorite.RStichwort"></app-favourite-item>
      </ng-container>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light" sticky>Surmiran</ion-item-divider>
      <ng-container *ngFor="let favuorite of favourites">
        <app-favourite-item [lemmaD]="favuorite.DStichwort" [lemmaR]="favuorite.RStichwort"></app-favourite-item>
      </ng-container>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light" sticky>Puter</ion-item-divider>
      <ng-container *ngFor="let favuorite of favourites">
        <app-favourite-item [lemmaD]="favuorite.DStichwort" [lemmaR]="favuorite.RStichwort"></app-favourite-item>
      </ng-container>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light" sticky>Vallader</ion-item-divider>
      <ng-container *ngFor="let favuorite of favourites">
        <app-favourite-item [lemmaD]="favuorite.DStichwort" [lemmaR]="favuorite.RStichwort"></app-favourite-item>
      </ng-container>
    </ion-item-group>
  </ion-list>
</ion-content>
