.search-direction {
  margin: 0 16px;
  align-items: center;
  font-weight: 500;
}

.first {
  --background: #ddd;

  ion-icon {
    padding-top: 3px;
  }
}
.last {
  border-bottom: 1px solid #aaa;
}

ion-select {
  --padding-end: 0;
  color: #3880ff;
}

ion-select::part(text) {
  text-align: right;
}

// hide the icon for the select drop-down
ion-select::part(icon) {
  display: none !important;
}
