.search-direction {
  margin: 0 16px;
  align-items: center;
  font-weight: 500;
}

.first {
  --background: #ddd;

  ion-icon {
    padding-top: 3px;
  }
}
.last {
  border-bottom: 1px solid #aaa;
}

ion-select {
  --padding-end: 0;
  color: #11769d;
}

ion-select::part(text) {
  text-align: right;
}

// hide the icon for the select drop-down
ion-select::part(icon) {
  display: none !important;
}

// android specific searchbar
.md ion-toolbar.toolbar-searchbar {
  padding: 0 16px 16px 16px;
}

.md ion-searchbar {
  --box-shadow: none;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
}
