<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding search-direction">
        <ion-col size="5">
          <ion-label>{{ "SEARCH.DE" | translate}}</ion-label>
        </ion-col>
        <ion-col size="2" style="text-align: center;">
          <ion-icon src="assets/icon/direction-from-de.svg" size="large" *ngIf="searchDirection === 'fromDe'" (click)="changeSearchDirection()"></ion-icon>
          <ion-icon src="assets/icon/direction-from-rm.svg" size="large" *ngIf="searchDirection === 'fromRm'" (click)="changeSearchDirection()"></ion-icon>
          <ion-icon src="assets/icon/direction-both.svg" size="large" *ngIf="searchDirection === 'both'" (click)="changeSearchDirection()"></ion-icon>
        </ion-col>
        <ion-col size="5">
          <ng-container>
            <div class="idiom" *ngIf="selectedDictionary === 'rumgrischun'" (click)="changeDictionary()">Rumantsch Grischun</div>
            <div class="idiom" *ngIf="selectedDictionary === 'sursilv'" (click)="changeDictionary()">Sursilvan</div>
            <div class="idiom" *ngIf="selectedDictionary === 'sutsilv'" (click)="changeDictionary()">Sutsilvan</div>
            <div class="idiom" *ngIf="selectedDictionary === 'surm'" (click)="changeDictionary()">Surmiran</div>
            <div class="idiom" *ngIf="selectedDictionary === 'puter'" (click)="changeDictionary()">Puter</div>
            <div class="idiom" *ngIf="selectedDictionary === 'vall'" (click)="changeDictionary()">Vallader</div>
          </ng-container>

          <ion-item lines="none" style="display: none;">
            <ion-label>{{ 'SEARCH.DICTIONARY' | translate }}</ion-label>
            <ion-select (ionChange)="dictionaryChanged($event)" [value]="selectedDictionary">
              <ion-select-option value="rumgrischun">Rumantsch Grischun</ion-select-option>
              <ion-select-option value="sursilv">Sursilvan</ion-select-option>
              <ion-select-option value="sutsilv">Sutsilvan</ion-select-option>
              <ion-select-option value="surm">Surmiran</ion-select-option>
              <ion-select-option value="puter">Puter</ion-select-option>
              <ion-select-option value="vall">Vallader</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="lemma" (ngModelChange)="search()" [placeholder]="'SEARCH.SEARCHFIELD.LABEL' | translate"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="pleds.length > 0">
  <ion-list>
    <ng-container *ngFor="let pled of pleds">
      <app-search-result
        [lemmaD]="isSursilvan ? pled.StichwortD : pled.DStichwort"
        [lemmaR]="isSursilvan ? pled.Stichwort : pled.RStichwort"
        [completeLemma]="isSursilvan ? pled.Corp : ''"
        [lemmaId]="pled.id"
        [isVerb]="!!pled.preschentsing3"
        [searchString]="lemma"
        [searchDirection]="searchDirection"
        (changeSearchTerm)="changeSearchTerm($event)"
        [isSursilvan]="isSursilvan"></app-search-result>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMoreData()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'SEARCH.LOADING_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="pleds.length === 0">
  <app-placeholder *ngIf="lemma === ''"></app-placeholder>
  <app-no-results *ngIf="lemma !== ''"></app-no-results>
</ion-content>
