<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding search-direction">
        <ion-col size="5">
          <ion-label>{{ "SEARCH.DE" | translate}}</ion-label>
        </ion-col>
        <ion-col size="2" style="text-align: center;">
          <ion-icon class="search-direction-icon" src="assets/icon/direction-from-de.svg" size="large"
            *ngIf="searchDirection === 'fromDe'" (click)="changeSearchDirection()"></ion-icon>
          <ion-icon class="search-direction-icon" src="assets/icon/direction-from-rm.svg" size="large"
            *ngIf="searchDirection === 'fromRm'" (click)="changeSearchDirection()"></ion-icon>
          <ion-icon class="search-direction-icon" src="assets/icon/direction-both.svg" size="large"
            *ngIf="searchDirection === 'both'" (click)="changeSearchDirection()"></ion-icon>
        </ion-col>
        <ion-col size="5">
          <ng-container>
            <div class="idiom" *ngIf="selectedDictionary === 'rumgrischun'" (click)="changeDictionary()">Rumantsch
              Grischun</div>
            <div class="idiom" *ngIf="selectedDictionary === 'sursilv'" (click)="changeDictionary()">Sursilvan</div>
            <div class="idiom" *ngIf="selectedDictionary === 'sutsilv'" (click)="changeDictionary()">Sutsilvan</div>
            <div class="idiom" *ngIf="selectedDictionary === 'surm'" (click)="changeDictionary()">Surmiran</div>
            <div class="idiom" *ngIf="selectedDictionary === 'puter'" (click)="changeDictionary()">Puter</div>
            <div class="idiom" *ngIf="selectedDictionary === 'vall'" (click)="changeDictionary()">Vallader</div>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar>
    <form action="#" (submit)="enterHit()">
      <ion-searchbar showCancelButton="focus" [(ngModel)]="searchString" (ngModelChange)="search()"
        [ngModelOptions]="{standalone: true}" [placeholder]="'SEARCH.SEARCHFIELD.LABEL' | translate"
        [cancelButtonText]="'SEARCH.SEARCHFIELD.CANCEL' | translate" (keyup.enter)="enterHit()"></ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="pleds.length > 0">
    <ion-list>
      <ng-container *ngFor="let pled of pleds">
        <app-lemma-display [lemma]="pled" [searchString]="searchString" [searchDirection]="searchDirection"
          [dictionary]="selectedDictionary" (changeSearchTerm)="changeSearchTerm($event)"></app-lemma-display>
      </ng-container>
    </ion-list>
  </ng-container>

  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadMoreData()" [style.display]="pleds.length === 0 ? 'none' : ''">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'SEARCH.LOADING_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-container *ngIf="pleds.length === 0">
    <app-placeholder *ngIf="searchString === ''"></app-placeholder>
    <app-no-results *ngIf="searchString !== ''"></app-no-results>
  </ng-container>
</ion-content>
