<table>
  <tr *ngIf="sing1">
    <td class="pronoun">{{ sing1Pronoun }}</td>
    <td [innerHtml]="replaceComma(sing1) | highlight: searchString"></td>
  </tr>
  <tr *ngIf="sing2">
    <td class="pronoun">{{ sing2Pronoun }}</td>
    <td [innerHtml]="replaceComma(sing2) | highlight: searchString"></td>
  </tr>
  <tr *ngIf="sing3">
    <td class="pronoun">{{ sing3Pronoun }}</td>
    <td [innerHtml]="replaceComma(sing3) | highlight: searchString"></td>
  </tr>
  <tr *ngIf="plural1" >
    <td class="pronoun">{{ plural1Pronoun }}</td>
    <td [innerHtml]="replaceComma(plural1) | highlight: searchString"></td>
  </tr>
  <tr *ngIf="plural2">
    <td class="pronoun">{{ plural2Pronoun }}</td>
    <td [innerHtml]="replaceComma(plural2) | highlight: searchString"></td>
  </tr>
  <tr *ngIf="plural3">
    <td class="pronoun">{{ plural3Pronoun }}</td>
    <td [innerHtml]="replaceComma(plural3) | highlight: searchString"></td>
  </tr>
</table>
