<table>
  <tr>
    <td class="pronoun">{{ sing1Pronoun }}</td>
    <td>{{ sing1 }}</td>
  </tr>
  <tr>
    <td class="pronoun">{{ sing2Pronoun }}</td>
    <td>{{ sing2 }}</td>
  </tr>
  <tr>
    <td class="pronoun">{{ sing3Pronoun }}</td>
    <td>{{ sing3 }}</td>
  </tr>
  <tr>
    <td class="pronoun">{{ plural1Pronoun }}</td>
    <td>{{ plural1 }}</td>
  </tr>
  <tr>
    <td class="pronoun">{{ plural2Pronoun }}</td>
    <td>{{ plural2 }}</td>
  </tr>
  <tr>
    <td class="pronoun">{{ plural3Pronoun }}</td>
    <td>{{ plural3 }}</td>
  </tr>
</table>
