<ion-item-sliding #slidingItem>
  <ion-item>
    <ng-container *ngIf="!isSursilvan">
      <ion-grid>
        <ion-row *ngIf="(searchDirection === 'fromDe') || (searchDirection === 'both' && selectedLocale === 'de')">
          <ion-col size="6">
            <app-result-text [text]="lemma.DStichwort" [flex]="lemma.DFlex" [grammar]="dGramm"
              [semantics]="lemma.DSempraez" [searchString]="searchString" (changeSearchTerm)="changeTerm($event)"></app-result-text>
          </ion-col>
          <ion-col [size]="isVerb ? 5 : 6">
            <app-result-text [text]="lemma.RStichwort" [flex]="lemma.RFlex" [grammar]="rGramm"
              [semantics]="lemma.RSempraez" [searchString]="searchDirection === 'both' ? searchString : ''" (changeSearchTerm)="changeTerm($event)">
            </app-result-text>
          </ion-col>
          <ion-col size="1" *ngIf="isVerb" (click)="goToDetail()" class="verb">
            <div>
              <ion-icon src="assets/icon/verb.svg" size="large"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(searchDirection === 'fromRm') || (searchDirection === 'both' && selectedLocale === 'rm')">
          <ion-col [size]="isVerb ? 5 : 6">
            <app-result-text [text]="lemma.RStichwort" [flex]="lemma.RFlex" [grammar]="rGramm"
              [semantics]="lemma.RSempraez" [searchString]="searchString" (changeSearchTerm)="changeTerm($event)"></app-result-text>
          </ion-col>
          <ion-col size="1" *ngIf="isVerb" (click)="goToDetail()" class="verb">
            <div>
              <ion-icon src="assets/icon/verb.svg" size="large"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="6">
            <app-result-text [text]="lemma.DStichwort" [flex]="lemma.DFlex" [grammar]="dGramm"
              [semantics]="lemma.DSempraez" [searchString]="searchDirection === 'both' ? searchString : ''" (changeSearchTerm)="changeTerm($event)">
            </app-result-text>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ng-container>
    <ng-container *ngIf="isSursilvan">
      <ion-col [size]="isVerb ? 11 : 12">
        <app-result-text [text]="('<b>' + lemma.RStichwort + '</b> ' + completeLemma)" [searchString]="searchString"
          (changeSearchTerm)="changeTerm($event)"></app-result-text>
      </ion-col>
      <ion-col size="1" *ngIf="isVerb" (click)="goToDetail()" class="verb">
        <div>
          <ion-icon src="assets/icon/verb.svg" size="large"></ion-icon>
        </div>
      </ion-col>
    </ng-container>
  </ion-item>

  <ion-item-options side="end">
    <div>
      <ion-item-option color="white" size="small" (click)="deleteFavourite(slidingItem);" *ngIf="isSaved">
        <ion-icon src="assets/icon/save-remove.svg" slot="icon-only" class="delete"></ion-icon>
      </ion-item-option>
      <ion-item-option color="white" size="small" (click)="addFavorite(slidingItem);" *ngIf="!isSaved">
        <ion-icon src="assets/icon/save.svg" slot="icon-only" class="save"></ion-icon>
      </ion-item-option>
      <ion-item-option color="white" size="small" (click)="copy(slidingItem)">
        <ion-icon src="assets/icon/copy.svg" slot="icon-only" class="copy"></ion-icon>
      </ion-item-option>
      <ion-item-option color="white" size="small" (click)="share(slidingItem)">
        <ion-icon src="assets/icon/share.svg" slot="icon-only" class="copy"></ion-icon>
      </ion-item-option>
    </div>
  </ion-item-options>
</ion-item-sliding>
