<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PAGES.FEEDBACK.TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="'PAGES.BACK' | translate">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Nur Textseite, kein Formular, Mail mit Betreff öffnen. Hinweis auf Datenquellen der 5 Idiome, Rückmeldungen an uns gerne, aber nur bezüglich App, sprachliche Fragen / Korrekturen an die jeweiligen Datenquellen.
  </p>
</ion-content>

