<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PAGES.FEEDBACK.TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="'PAGES.BACK' | translate">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <p>
      Wir freuen uns über <a href="mailto:gion-andri@cantieni.info">Rückmeldungen</a> und Verbesserungsvorschläge zur App «Dicziunari».
    </p>
    <p>
      Die Lia Rumantscha und der Lehrmittelverlag Graubünden haben freundlicherweise die Daten der Wörterbücher zur Verfügung gestellt.
      Für inhaltliche Änderungsvorschläge, die die Sprachdaten betreffen, bitte direkt die Verantwortlichen der Wörterbücher kontaktieren.
    </p>
    <p>
      Für die Wörterbücher in Rumantsch Grischun, sowie für die Idiome Sursilvan, Sutsilvan und Surmiran ist die Lia Rumantscha zuständig.
      Allfällige Änderungsvorschläge und Korrekturen können über das entsprechende Formular auf pledarigrond.ch eingereicht werden.<br>
      Änderungen an den Daten des Pledari Grond werden jedoch erst mit dem nächsten Update der App im «Dicziunari» verfügbar sein.
    </p>
    <p>
      Die Wörterbücher der Idiome Puter und Vallader werden in dieser App aus rechtlichen Gründen nicht aktualisiert.
    </p>
  </div>
</ion-content>

