.verb-button {
  background-color: #989aa2;
  border-radius: 5px;
  text-align: center;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  padding-bottom: 2px;
  margin: 0 0 0 auto;
  cursor: pointer;
}
